<div id="<%= dom_id like %>">
  <p>
    <strong>Authorid:</strong>
    <%= like.AuthorId %>
  </p>

  <p>
    <strong>Postid:</strong>
    <%= like.PostId %>
  </p>

  <p>
    <strong>Updatedat:</strong>
    <%= like.UpdatedAt %>
  </p>

  <p>
    <strong>Createdat:</strong>
    <%= like.CreatedAt %>
  </p>

</div>
