<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Photo:</strong>
    <%= user.photo %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= user.bio %>
  </p>

  <p>
    <strong>Updatedat:</strong>
    <%= user.UpdatedAt %>
  </p>

  <p>
    <strong>Createdat:</strong>
    <%= user.CreatedAt %>
  </p>

  <p>
    <strong>Postcounter:</strong>
    <%= user.PostCounter %>
  </p>

</div>
