<div id="<%= dom_id post %>">
  <p>
    <strong>Author,foreign key:</strong>
    <%= post.author,foreign_key %>
  </p>

  <p>
    <strong>True:</strong>
    <%= post.true %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= post.Title %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= post.Text %>
  </p>

  <p>
    <strong>Commentscounter:</strong>
    <%= post.CommentsCounter %>
  </p>

  <p>
    <strong>Likescounter:</strong>
    <%= post.LikesCounter %>
  </p>

</div>
